*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,Arial;
}

body{
height:100vh;
overflow:hidden;
}

.page{
height:100vh;
display:none;
}

.active{
display:block;
}

/* HEADER */
header{
padding:25px 40px;
}

.brand{
display:flex;
align-items:center;
gap:15px;
}

.logo{
height:55px;
width:55px;
border-radius:50%;
background:#c77dff;
display:flex;
align-items:center;
justify-content:center;
font-weight:bold;
box-shadow:0 0 25px #c77dff;
}

.white{
background:white;
}

.brand h2{
font-size:30px;
}

/* HOME */
#home{
background:linear-gradient(135deg,#e0c3fc,#8ec5fc);
}

.center{
height:80vh;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
text-align:center;
}

.center h1{
font-size:55px;
white-space:nowrap;
}

.center span{
color:#7b2cbf;
}

.center p{
font-size:20px;
margin:20px;
}

.card{
background:white;
border-radius:35px;
padding:30px;
box-shadow:0 10px 40px rgba(0,0,0,.15);
}

.small-card{
width:360px;
}

input,select{
width:100%;
padding:14px;
border:none;
border-radius:15px;
background:#f2f2f2;
margin-bottom:15px;
}

button{
width:100%;
padding:15px;
border:none;
border-radius:25px;
cursor:pointer;
background:#c77dff;
font-size:17px;
}

/* DETAIL */
.detail-card{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
width:520px;
}

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
}

/* FEMALE */
.pink{
background:linear-gradient(135deg,#ffafbd,#ffc3a0);
}

/* MALE */
.blue{
background:linear-gradient(135deg,#2193b0,#6dd5ed);
}

.pink-btn{
background:#ff5c8a;
color:white;
}

.blue-btn{
background:#0077ff;
color:white;
}

/* RESULT */
#result{
background:linear-gradient(135deg,#c471ed,#f64f59);
color:white;
}

.dashboard{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
width:500px;
background:rgba(255,255,255,0.18);
backdrop-filter:blur(20px);
padding:40px;
border-radius:35px;
text-align:center;
}

.progress-box{
height:25px;
width:100%;
background:white;
border-radius:20px;
overflow:hidden;
margin:25px 0;
}

#progress{
height:100%;
width:0%;
background:#ff4f81;
transition:0.5s;
}

.info{
margin-top:25px;
background:rgba(255,255,255,0.2);
padding:20px;
border-radius:20px;
}
